<% layout('layout') -%>



<!-- <div class="jumbotron" id="navbar-gap">
<div class="container" id="jumb-c">
<h1> Shop Smart, Save Big!</h1>
<p>Starting to create something more unique</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
</div>

</div> -->

<div class="amaz" id="navbar-gap">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="d1">
        <img src="http://insights.marinsoftware.com/wp-content/uploads/2013/11/google_shopping.gif" alt="Chania" width=460px height=345px>
        <!-- <iframe src="https://www.youtube.com/embed/RM_5tJncHww" frameborder="0" autoplay loop width="460px" height="345px"></iframe> -->
        <div class="carousel-caption" id="cap1">
          <h1 id="c1">Prepare to shop?</h1>
          <p>You can get whatever you want.</p>
          <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Let's get started, I think &raquo;</a></p>
        </div>

      </div>

      <div class="item" id="d2">
        <img src="http://markonomia.com/wp-content/uploads/2015/01/ecommerce-foto.jpg" alt="Chania" width="460px" height="345px">
        <div class="carousel-caption" id="cap2">
          <h1>Chania</h1>
          <p>Stormy Clouds has millions of goods you are looking for.</p>
        </div>
      </div>

      <div class="item" id="d3">
        <img src="http://img1.goodfon.su/original/2560x1440/6/f1/stol-ochki-gazeta-kofe-pena.jpg" alt="Flower" width="460px" height="345px">
        <div class="carousel-caption" id="cap3">
          <h1>Chania</h1>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>

      <div class="item" id="d4">
        <img src="http://theinsight.dk/wp-content/uploads/2014/06/shopping-bags.png" alt="Flower" width="460px" height="345px">
        <div class="carousel-caption" id="cap4">
          <h1>Chania</h1>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
<div class="left">
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" >
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </div>
  <div class="right">
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>


</div>



<div class="container" id="three-ad">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div id="ad1">
        <h3>Start your search here</h3>
        <p>Signup to start Buying</p>
      </div>
    </div>
    <div class="col-md-4">
      <div id="ad2">
        <h3>Look for Smart items?</h3>
        <p>These will appear across the site as you add to your cart</p>
      </div>
    </div>

    <div class="col-md-4">
      <div id="ad3">
        <h3>Build a smart cart</h3>
        <p>The more smart items you buy together, the more you save :)</p>
      </div>
    </div>
  </div>


</div>


<section class="testimonial">
        <div class="container">
            <blockquote>
                &ldquo; I never realized how uncool I was before. Stormy Cloud lovingly crafted me into shape, complete with a skin-fade, fresh denim &amp; a moustache &mdash; not only were they late, but they were overbudget. Highly recommended! &rdquo;
                <cite>&mdash; A Happy Client</cite>
            </blockquote>
        </div>
    </section>

    <section id="why-us">
        <h2>Why Stormy Cloud?</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Artisanal</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Readymade</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Small Batches</h3>
                    <p>Squid synth Marfa, fashion axe readymade whatever four loko aesthetic tote bag tilde. Mustache try-hard skateboard blog, umami ugh gentrify chia trust fund whatever. Church-key leggings small batch Etsy, taxidermy VHS meggings deep v slow-carb 8-bit blog.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h2>Meet our team</h2>
            <div class="row">
                <div class="col-sm-3">
                    <img src="https://c7.staticflickr.com/8/7377/27642635086_24a43e52aa_m.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jane Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="https://c8.staticflickr.com/8/7558/27677884455_b08266ae17_m.jpg" alt="Man's face" class="img-circle">
                    <h4>John Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="https://c5.staticflickr.com/8/7283/27642635116_6b16dbe217_m.jpg" alt="Woman's face" class="img-circle">
                    <h4>Jenny Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
                <div class="col-sm-3">
                    <img src="https://c3.staticflickr.com/8/7310/27642635106_0eeac4d31d_m.jpg" alt="Man's face" class="img-circle">
                    <h4>Jim Doe</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                </div>
            </div>
        </div>
    </section>
